.h11 {
    color: rgb(79, 139, 235);
    font: 600px;
    text-shadow: 3px 3px;
}

.h12 {
    color: rgb(236, 72, 122);
    font: 600px;
    text-shadow: 3px 3px;
    margin-left: 25px;
}

.logo {
    display: block;
    margin-left: 0;
    width: 70px;
    height: 70px;
}

.hero {

    background-image: url("./Images/BookHavenbg.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    /* full screen */
    position: relative;

}


.div1 {
    position: absolute;
    top: 2%;

}

a :hover {
    color: rgb(198, 61, 198);
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}